<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    <h2>home page template</h2>
   <span class='name'>
        <span> name:{{name}}</span>
        <span>id:{{id}}</span>
   </span>
    <button onclick="handleclick()">click me</button>
</body>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
</html>